# GroupBy

In [1]:
import pandas as pd
df=pd.read_csv("sample.csv")
df

  Name  Age  Salary Dept Gender
0  abc   10    1000  cse      m
1  xyz   12   12000  cse      f
2  pqr   20   18000  ece      f
3  mno   28    5000  ece      m
4  pnr   40   20000  cse      f

In [2]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000246A3CE75E0>

In [3]:
a=df.groupby(["Gender","Dept"])
print(a.groups)

{('f', 'cse'): [1, 4], ('f', 'ece'): [2], ('m', 'cse'): [0], ('m', 'ece'): [3]}

In [14]:
print(df.groupby(["Dept"]).max())

     Name  Age  Salary Gender
Dept
cse   xyz   40   20000      m
ece   pqr   28   18000      m

In [7]:
a=df.groupby(["Dept","Gender"])
print(a.groups)

{('cse', 'f'): [1, 4], ('cse', 'm'): [0], ('ece', 'f'): [2], ('ece', 'm'): [3]}

In [8]:
print(df.groupby(["Dept"]).groups)

{'cse': [0, 1, 4], 'ece': [2, 3]}

In [9]:
print(df.groupby(["Gender"]).groups)

{'f': [1, 2, 4], 'm': [0, 3]}

In [10]:
g=df.groupby(["Gender"])
print(g.get_group("m"))

  Name  Age  Salary Dept Gender
0  abc   10    1000  cse      m
3  mno   28    5000  ece      m

In [11]:
df["Gender"].value_counts()

f    3
m    2
Name: Gender, dtype: int64